<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='addBook.css')}}">
            <link href="https://fonts.googleapis.com/css?family=Catalunya&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        </head>

        <body>
            <header name="header">
            <nav>
                <div class="row nav-bar">
                    <p class="company-name">
                        Great Reads
                    </p>
                    <a class="active" href="addBook.html"><i class="fa fa-fw fa-add"></i> Add Book</a>
                    <a class="nactive" href="categorypage2.html"><i class="fa fa-fw fa-book"></i>Categories</a> 
                    <a class="nactive" href="hompage.html"><i class="fa fa-fw fa-home"></i> Home</a> 
                </div>
            </nav>
            </header>
            <div class="row" name="space">
                <div class="col span-3-of-4 column-left">
                    <div class="background-image">
                        <p>&nbsp;</p>
                    </div>
                    <div class="col span-4-of-4">
                        
                        <div class="box">
                            <a class="button1" href="#popup1">Admin Unlock</a>
                        </div>
                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2 class="review-heading">Create a Book!</h2>
                                <div class="content">
                                    <form method="POST" action="">
                                        <p class="inputs">Name: </p><input type="text" name="name" class="input-form"/><br>
                                        
                                        <p class="inputs">Book Title:</p> <input type="text" name="book_title" class="input-form"/><br>
                                        
                                        <p class="inputs">ASIN ID:</p> <input type="text" name="review" class="input-form"/> <br>
                                        
                                        <p class="inputs">Summary: </p><input type="text" name="summary" class="input-form"/>
                                        <br>
                                       
                                        
                                    </form>
                                </div>
                                <a class2="close" href="#"><input type="submit" class="submit-butts"></a>
                            </div>
                    </div>
                    </div>
                    </div>
                
                <div class="col span-1-of-4">
                    <div name="side-col">
                        <h1 class="top-picks">Top Picks</h1>
                            <div class="top-picks-col">
                                <div class="col span-1-of-3 imgcol1">
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='39832183._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="button">
                                <a href="" class="more-button"><span class="more-toppicks">More >>> </span></a>
                            </div>
                        </div>
                        </div>
                </div>
                </div>
            
        </body>
</html>