<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
            <link href="https://fonts.googleapis.com/css?family=Catalunya&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        </head>

        <body>
            <header name="header">
            <nav>
                <div class="row nav-bar">
                    <p class="company-name">
                    Great Reads
                    </p>
                    <a class="nactive" href="#popup1"><i class="fa fa-plus"></i> Add Book</a>
                    <a class="nactive" href="/allcategories"><i class="fa fa-fw fa-book"></i>Categories</a> 
                    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
                </div>

                </nav>
            </header>
                <div class="row" name="space">
                    <div class="col span-3-of-4 column-left-cat">
                    <!--<img src="res/images/header.jpg" name="header-image" width="90%" height="200px">-->
                        <div class="background-image">
                            <!--<img src="{{ url_for('static', filename='header.jpg')}}">-->
                            <p>&nbsp;</p>
                        </div>
                        
                        <div class="all-categories-section">
                            
                              {% for name in unique_category_names %}
                                <div class="cat">
                                    <p class="all-categories-heading">
                                        {{name}}
                                    </p>
                                </div>
                              {% endfor %}
                        </div>
                        
                    </div>
                    <div class="col span-1-of-4">
                        <div name="side-col">
                        <h1 class="top-picks">Top Picks</h1>
                            <div class="top-picks-col">
                                <div class="col span-1-of-3 imgcol1">
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='39832183._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="button">
                                <a href="" class="more-button"><span class="more-toppicks">More >>> </span></a>
                            </div>
                            <div id="popup1" class="overlay">
                                <div class="popup1">
                                    <h2 class="admin-heading">Admin</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <form method="POST" action="">
                                            <p class="admin-pass">Admin Password:</p><input type="text" name="name" /><br>
                                        </form>
                                    </div>
                                    <a class="button3" href="/addbook"><span class="admin-submit">Submit</span></a>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
                
    </body>
</html>