<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
            <link href="https://fonts.googleapis.com/css?family=Catalunya&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        </head>

        <body>
            <header name="header">
            <nav>
                <div class="row nav-bar">
                    <p class="company-name">
                    Great Reads
                    </p>
                    <a class="nactive" href="#popup1"><i class="fa fa-plus"></i> Add Book</a>
                    <a class="nactive" href="/allcategories"><i class="fa fa-fw fa-book"></i>Categories</a> 
                    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a> 
                </div>

            </nav>
            </header>
            <div class="row" name="space">
                <div class="col span-3-of-4 column-left">
                    <div class="background-image">
                        <p>&nbsp;</p>
                    </div>
                    <div class="searchbar">
                        <h2 class="search-font">
                            Search and browse books
                        </h2>
                        <div class="wrap">
                            <div class="search">
                                <input type="text" class="searchTerm" id= "asinid" placeholder="Enter Book's ASIN number">
                                <button type="submit" class="searchButton" onclick="searchfn()">
                                <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                        <div><a href="" id="camView" target="_blank" ></a>
                        </div>  
                    </div>
                    <div class="col span-1-of-4">
                        <div name="side-col">
                        <h1 class="top-picks">Top Picks</h1>
                            <div class="top-picks-col">
                                <div class="col span-1-of-3 imgcol1">
                                    
                                    <div class="top-img">
                                        {% for url in imageurls %}
                                        <div class="">
                                            <img src="{{url['imUrl']}}" class="image-url">
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!--<a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>-->
                                </div>
                            <div class="col span-1-of-3 imgcol1">
                                <!--<a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='39832183._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>-->
                            </div>
                            <div class="col span-1-of-3 imgcol1">
                                <!---<a href="">
                                    <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>--->
                            </div>
                            <div id="popup1" class="overlay">
                                <div class="popup1">
                                    <h2 class="admin-heading">Admin</h2>
                                    <a class="close" href="#">&times;</a>
                                    <div class="content">
                                        <form method="POST" action="">
                                            <p class="admin-pass">Admin Password:</p>
                                            <input type="text" name="name" id="adminpwd"/><br>
                                        </form>
                                    </div>
                                    <a class="button3" onclick= checkPswd() id="submb"><span class="admin-submit">Submit</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>

            </div>
        
                            
            

                <script type="text/javascript">
                
                    var input = document.getElementById("adminpwd");
                        input.addEventListener("keyup", function(event) {
                        if (event.keyCode == 13) {
                            event.preventDefault();
                            document.getElementById("submb").click();
                            }
                        });
                    function searchfn()
        {
                    var asin = document.getElementById('asinid');
                    document.getElementById('camView').innerHTML = asin.value;
                    document.getElementById('camView').href="/book/"+asin.value;
                    //Or to open in new tab on submit button directly 
                    window.location.href = "/book/"+asin.value;
                }
                function checkPswd() {
                    var confirmPassword = "admin";
                    var password = document.getElementById("adminpwd").value;
                    if (password == confirmPassword) {
                        window.location.href = "/addbook";
                    }
                    else{
                        alert("Passwords do not match.");
                    }

                }
            </script>
        
            
        </body>
</html>