<!DOCTYPE html>
<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <head>
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='homepage.css')}}">
            <link href="https://fonts.googleapis.com/css?family=Catalunya&display=swap" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='grid.css')}}">
            <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='normalize.css')}}">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link href="https://fonts.googleapis.com/css?family=Lato:100,300,300i,400" rel="stylesheet">

        </head>

        <body>
            <header name="header">
            <nav>
                <div class="row nav-bar">
                    <p class="company-name">
                    Great Reads
                    </p>

                    <a class="nactive" href="#"><i class="fa fa-fw fa-user"></i> Login</a>
                    <a class="nactive" href="#"><i class="fa fa-fw fa-search"></i> Search</a>
                    <a class="active" href="/"><i class="fa fa-fw fa-home"></i> Home</a>
                </div>


                <div class="row" name="space">
                    <div class="col span-3-of-4 column-left">
                    <!--<img src="res/images/header.jpg" name="header-image" width="90%" height="200px">-->
                        <div class="background-image">
                            <!--<img src="{{ url_for('static', filename='header.jpg')}}">-->
                            <p>&nbsp;</p>
                        </div>

                        <div class="searchbar">
                            <h2 class="search-font">
                            Search and browse books
                            </h2>
                            <div class="wrap">
                               <div class="search">
                                  <input type="text" class="searchTerm" placeholder="What are you looking for?">
                                  <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                 </button>
                               </div>
                            </div>
                            <h1 class="top-cat">Top Categories:</h1>
                            <div class="">
                                <div class="col span-1-of-4">
                                    <p class="genre-links"><a href="/categorypage/Arts & Photography">Arts &#38; Photography</a></p>
                                    <p class="genre-links"><a href="/categorypage/Biographies">Biographies &#38; Memoirs</a></p>
                                    <p class="genre-links"><a href="/categorypage/Books">Books</a></p>
                                    <p class="genre-links"><a href="/categorypage/Business & Money">Business &#38; Money</a></p>
                                    <p class="genre-links"><a href="/categorypage/Children's Books">Children's Books</a></p>
                                    <p class="genre-links"><a href="/categorypage/Children's Books">Children's eBooks</a></p>
                                    <p class="genre-links"><a href="/categorypage/Christian Books & Bibles">Christian Books &#38; Bibles</a></p>
                                    <p class="genre-links"><a href="/categorypage/Computers & Technology">Computers &#38; Technology</a></p>
                                </div>
                                <div class="col span-1-of-4">
                                    <p class="genre-links"><a href="/categorypage/Cookbooks, Food & Wine">Cookbooks, Food &#38; Wine</a></p>
                                    <p class="genre-links"><a href="/categorypage/Crafts, Hobbies & Home">Crafts, Hobbies &#38; Home</a></p>
                                    <p class="genre-links"><a href="/categorypage/Engineering">Engineering</a></p>
                                    <p class="genre-links"><a href="/categorypage/Europe">Europe</a></p>
                                    <p class="genre-links"><a href="/categorypage/Foreign Languages">Foreign Languages</a></p>
                                    <p class="genre-links"><a href="/categorypage/Health, Fitness & Dieting">Health, Fitness &#38; Dieting</a></p>
                                    <p class="genre-links"><a href="/categorypage/History">History</a></p>
                                    <p class="genre-links"><a href="/categorypage/Humor & Entertainment">Humor &#38; Entertainment</a></p>
                                </div>
                                <div class="col span-1-of-4">
                                    <p class="genre-links"><a href="/categorypage/Kindle eBooks">Kindle eBooks</a></p>
                                    <p class="genre-links"><a href="/categorypage/Kindle Store">Kindle Store</a></p>
                                    <p class="genre-links"><a href="/categorypage/Law">Law</a></p>
                                    <p class="genre-links"><a href="/categorypage/Literature & Fiction">Literature &#38; Fiction</a></p>
                                    <p class="genre-links"><a href="/categorypage/Medical Books">Medical Books</a></p>
                                    <p class="genre-links"><a href="/categorypage/Medical eBooks">Medical eBooks</a></p>
                                    <p class="genre-links"><a href="/categorypage/Politics & Social Sciences">Politics &#38; Social Sciences</a></p>
                                    <p class="genre-links"><a href="/categorypage/Professional & Technical">Professional &#38; Technical</a></p>
                                </div>
                                <div class="col span-1-of-4">
                                    <p class="genre-links"><a href="/categorypage/Reference">Reference</a></p>
                                    <p class="genre-links"><a href="/categorypage/Religion & Spirituality">Religion &#38; Spirituality</a></p>
                                    <p class="genre-links"><a href="/categorypage/Science & Math">Science &#38; Math</a></p>
                                    <p class="genre-links"><a href="/categorypage/Sports & Outdoors">Sports &#38; Outdoors</a></p>
                                    <p class="genre-links"><a href="/categorypage/Travel">Travel</a></p>
                                    <p class="genre-links"><a href="/categorypage/United States">United States</a></p>
                                    <p class="genre-links more-genres"><a href="">More Genres...</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col span-1-of-4">
                        <div name="side-col">
                        <h1 class="top-picks">Top Picks</h1>
                            <div class="top-picks-col">
                                <div class="col span-1-of-3 imgcol1">
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                    <a href="">
                                        <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                    </a>
                                </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='39832183._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="col span-1-of-3 imgcol1">
                                <a href="">
                                    <img src="{{ url_for('static', filename='43641._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='929._SX98_.png')}}" class="book-inbetween">
                                </a>
                                <a href="">
                                    <img src="{{ url_for('static', filename='1713426._SX98_.png')}}" class="book-inbetween">
                                </a>
                            </div>
                            <div class="button">
                                <a href="" class="more-button"><span class="more-toppicks">More >>> </span></a>
                            </div>
                        </div>
                        </div>
                    </div>

                </div>
            </nav>
            </header>
        </body>
</html>