/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

html {
    background-color: #FFF;
    color: #414141;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
.row{
    max-width: 100%;
    margin: 0 auto;
    position: relative; 
}


@font-face {
    font-family: catalunya;
    src: url(catalunya.ttf);
            }

.small-heading {
    font-size: 100%;
    color: #000000;
    margin-left: 2%;
    margin: 1.5%;
    display: inline-block;
}

.text{
    font-family: sans-serif;
}

/* -----------------------------------------------*/
/* NAVIGATION BAR */
/* -----------------------------------------------*/

.nav-bar{
    height: 100%;
    vertical-align: top;
    background-color: rgba(72, 217, 212, 0.56);
}

.nav-bar a {
  float: right;
  padding: 1% 1%;
  
    height: auto;
  text-decoration: none;
  font-size: 110%;
    font-family: 'catalunya';
        
}
.nactive{
    color: #FFF;
}
.nav-bar a:hover {
  background-color: #FFF;
  color: #000;
}

.active {
  color: darkcyan;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.company-name{
    font-weight: 40;
    padding: 0.5% 2%;
    color:#FFF;
    font-size: 170%;
    font-family: 'catalunya';
    float:left;
}

/* -----------------------------------------------*/
/* LEFT COLUMN */
/* -----------------------------------------------*/


.background-image{
    background: url(img/header.jpg);
    background-size: cover;
    height: 140px;
    margin-top: -13.5px;
    
}

.column-left{
    background-color: rgba(230, 230, 230, 0.34);
    background: cover;
}

/* -----------------------------------------------*/
/* RIGHT COLUMN */
/* -----------------------------------------------*/


.top-picks{
    font-size: 180%;
    color: #000000;
    font-weight: 200;
    font-family: 'catalunya';
    margin-left: 30%;
    margin-bottom: 30%;
}


.book-inbetween{
    height: 130px;
    margin-bottom: 70%;
    
}

.more-toppicks{
    text-align: center;
    font-family: 'catalunya';
    font-size: 120%
}

.button{
    margin-left: 32%
}

.button a:link,
.button a:visited{
    color: rgb(0, 0, 0);

}
.button a:hover{
    background-color: rgba(72, 217, 212, 0.77);
}


.more-button{
    background-color: rgba(72, 217, 212, 0.56);
    padding: 3%;
    text-decoration: none;
    border-radius: 10px;
}
/* -----------------------------------------------*/
/* REVIEW PAGE */
/* -----------------------------------------------*/



.review-rating{
    float: right;
}

.specificbook{
    margin: 2% 5%;
}

.book-detail-img{
    height: 250px;

    display:inline
}

.book-img{
    margin: 8% 20%;
    display:inline
    
}

.book-description{
    display: inline
}

/* -----------------------------------------------*/
/* ADD REVIEW PAGE */
/* -----------------------------------------------*/


.writeareview{
    display: block;
}
.pop-up{
    background-color: #fff5e7;
    background: cover;
    width: 700px;
    height: 700px
}

.review-img{
    height: 250px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 4%
}

.review-deets{
    margin-left: 50%;
}

.review-heading{
    font-family: 'catalunya';
    font-size: 200%;
    display: inline-block;
    margin-top: 15%;
    margin-bottom: 19%
}

.book-details{
    display: block;
    font-size: 90%;
    padding: 3% 0;
}


.field-names{
    font-weight:300;
    font-size: 90%;
    padding: 17px 0%;
    margin-left: 30%
}


.small-input-field{
    background-color: #ffffff;
    border: 1px solid #808080;
    padding: 2%;
    font-weight:300;
    font-size: 60%;
    color: #414141;
    text-align: center;
    margin: 16.5px 80px;
    width: 70%;
}


.submit-button a:link,
.submit-button a:visited{
    color: rgb(0, 0, 0);

}
.submit-button a:hover{
    background-color: rgba(72, 217, 212, 0.77);
}



.submitclickbutton{
    background-color: rgba(72, 217, 212, 0.56);
    padding: 2% 6%;
    text-decoration: none;
    border-radius: 10px;
    margin-left: 35%;
}

