<!DOCTYPE html>
<html>
<head>
	<title>GreatReads</title>
</head>
<body>
	<h1>Welcome to GreatReads</h1>
	
	<div>
		<form method="POST" action="">
			Name: <input type="text" name="name">
			<br>
			Book title: <input type="text" name="book_title">
			<br>
			Review: <input type="text" name="review">
			<br>
			<input type="submit">
		</form>
	</div>

	<div>
		<p>Display data from MySQL:</p>
		{% for name in display}
		<ul>
			<li>{{name[0]}}</li>
			<li>{{name[1]}}</li>
		</ul>
		{% endfor %}
	</div>
</body>
</html>