/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

html {
    background-color: #FFF;
    color: #414141;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
.row{
    max-width: 100%;
    margin: 0 auto;
    position: relative; 
}


@font-face {
    font-family: catalunya;
    src: url(catalunya.ttf);
            }

.small-heading {
    font-size: 100%;
    color: #000000;
    margin-left: 2%;
    margin: 1.5%;
    display: inline-block;
}

.text{
    font-family: sans-serif;
}

/* -----------------------------------------------*/
/* NAVIGATION BAR */
/* -----------------------------------------------*/


.nav-bar{
    height: 100%;
    vertical-align: top;
    background-color: rgba(72, 217, 212, 0.56);
}

.nav-bar a {
  float: right;
  padding: 1% 1%;
  
    height: auto;
  text-decoration: none;
  font-size: 110%;
    font-family: 'catalunya';
        
}
.nactive{
    color: #FFF;
}
.nav-bar a:hover {
  background-color: #FFF;
  color: #000;
}

.active {
  color: darkcyan;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
    
}

.company-name{
    font-weight: 40;
    padding: 0.5% 2%;
    color:#FFF;
    font-size: 170%;
    font-family: 'catalunya';
    float:left;
}


/* -----------------------------------------------*/
/* TOP BACKGROUND */
/* -----------------------------------------------*/


.background-image{
    background-image: url(header.jpg);
    height: 140px;

}
/* -----------------------------------------------*/
/* CATEGORIES */
/* -----------------------------------------------*/

.side-panel{
    border-left: 1px solid #6d6d6d;
    height: 750px; /*change this to cover when the page is more or less settled*/
    width: 25%;
    padding: 2%;
    float:right;
}

.category-portion{
    display: inline-block;
}

.section-space{
    background-color: #ededed;
}

.category-heading{
    font-weight: 200;
    font-family: 'catalunya';
    margin-left: 65%;
    margin-bottom: 2%;
}

.category-heading:after{
    /*display: block;
    height: 3px;
    background-color: #414141;
    content: " ";
    width: 60px;
    margin-left: 6%;*/
    display:block;
    height: 1px;
    background-color: #6d6d6d;
    content: " ";
    width: 320%;
    margin-top:7%;
    margin-left: -145%;
}


.category-book-row{
    margin-left: 14%;
    width: 120%;
}



.book-img{
    padding: 3px;
    border: 1px solid #acacac; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    margin-left: 3%;
    margin-bottom: 5%;
    height: 100px;
}

/* Add a hover effect (blue shadow) */
.book-img:hover {
    box-shadow: 0 0 2px 1px #414141;
}

.hover-over-description{
    background-color: #f4faff;
    width: 400px;
    padding: 1% 3%
}

.bookname {
    font-size: 80%;
    text-decoration: underline;
}

.author{
    font-size: 70%;
}

.book-des{
    font-size: 80%;
    padding: 2% 0;
    line-height: 25px
    
}

.write-review{
    background-color: #f4faff;
    padding: 5%;
    margin-bottom: 10%;
}

.enjoyed-books-section{
    height: cover;
    margin-bottom: 20%;
}


.review-heading{
    font-size: 100%;
}

.reader-enjoy-heading{
    font-size: 80%;
    text-transform: uppercase 
}

.enjoyed-books{
    margin-top: 5%;
    margin-right: 3%;
    height: 120px;
    padding-left: 1%
}

.similar-books{
    font-size: 90%;
    float:right;
    padding: 2%;
    
}
