/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

html {
    background-color: #FFF;
    color: #414141;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
.row{
    max-width: 100%;
    margin: 0 auto;
    position: relative; 
}


@font-face {
    font-family: catalunya;
    src: url(catalunya.ttf);
            }

.small-heading {
    font-size: 100%;
    color: #000000;
    margin-left: 2%;
    margin: 1.5%;
    display: inline-block;
}

.text{
    font-family: sans-serif;
}

/* -----------------------------------------------*/
/* NAVIGATION BAR */
/* -----------------------------------------------*/

.nav-bar{
    height: 100%;
    vertical-align: top;
    background-color: rgba(72, 217, 212, 0.56);
}

.nav-bar a {
  float: right;
  padding: 1% 1%;
  
    height: auto;
  text-decoration: none;
  font-size: 110%;
    font-family: 'catalunya';
        
}
.nactive{
    color: #FFF;
}
.nav-bar a:hover {
  background-color: #FFF;
  color: #000;
}

.active {
  color: darkcyan;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
    
}

.company-name{
    font-weight: 40;
    padding: 0.5% 2%;
    color:#FFF;
    font-size: 170%;
    font-family: 'catalunya';
    float:left;
}

/* -----------------------------------------------*/
/* LEFT COLUMN */
/* -----------------------------------------------*/


.background-image{
    background-image: url(header.jpg);
    height: 140px;
    margin-top: -13.5px;
    
}

.column-left{
    background-color: rgba(230, 230, 230, 0.34);
    height: 900px
}
.column-left-special{
    background-color: #d6eceb;
    height: 750px;
    border: 2px solid #d6eceb;
    border-radius: 10px/10px;
    
}
/* -----------------------------------------------*/
/* SEARCH BAR */
/* -----------------------------------------------*/


.searchbar{
    margin: 3% 4%;
}


.search-font{
    font-weight: 300;
    font-size: 130%;
}


.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.review{
    font-size: 100%;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 40%;
    margin: 2% 0;
}

/* ------------*/

.top-cat{
    font-size: 110%;
    color: #047777;
    margin-bottom: 0;
    margin-top: 5%;
    
}

.genre-links{
    margin: 2% 0;
    font-size: 85%;
    padding: 5% 0;
}

.genre-links a{
    text-decoration: none;
    color: darkcyan;
}

.genre-links a:link,
.genre-links a:visited{
    color: darkcyan;

}
.genre-links a:hover{
    color:#000000;
}

.more-genres{
    text-decoration: underline;
}


/* -----------------------------------------------*/
/* RIGHT COLUMN */
/* -----------------------------------------------*/


.top-picks{
    color: #000000;
    font-family: 'catalunya';
    margin-left: 30%;
    margin-bottom: 30%;
}


.book-inbetween{
    height: 130px;
    margin-bottom: 70%;
    padding: 2px;
    border: 1px solid #acacac; /* Gray border */
    border-radius: 4px;  /* Rounded border */
}

/* Add a hover effect (blue shadow) */
.book-inbetween:hover {
    box-shadow: 0 0 2px 1px #585858;
}


.more-toppicks{
    text-align: center;
    font-size: 90%;
    text-transform: uppercase;
    font-weight: 400
}

.button{
    margin-left: 32%
}

.button a:link,
.button a:visited{
    color: rgb(0, 0, 0);

}
.button a:hover{
    background-color: rgba(72, 217, 212, 0.77);
}


.more-button{
    background-color: rgba(72, 217, 212, 0.56);
    padding: 3%;
    text-decoration: none;
    border-radius: 10px;
}

/* -----------------------------------------------*/
/* REVIEW PAGE */
/* -----------------------------------------------*/
.book-name{
    margin-top: 10%;
    text-align: center;
    margin-bottom: 10%;
    font-family: 'catalunya';
    font-size: 230%;
}



.book-img{   
    display:inline;
    margin-left: 10%;

    height: 200px;
    width: 170px;
}

.box {

    margin-top:10%;
    margin-left:15%;
    
}


.button1 {
  font-size: 120%;
font-family: 'catalunya';
  padding: 10px;
  color: #fff;
background-color: #9AEAE7;
  border: 2px solid #9AEAE7;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button1:hover {
  background: #9AEAE7;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 60%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: 'catalunya';
}
.popup .close {
  
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #9AEAE7;
}



.popup .content {
  max-height: 30%;
  overflow: auto;
    font-family: sans-serif;
}
.popup .content .rating {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
  .box{
    width: 90%;
  }
  .popup{
    width: 90%;
  }
}
/* -----------------------------------------------*/
/* ADD BOOK PAGE */
/* -----------------------------------------------*/

.overlay {
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(0, 0, 0, 0.7);
transition: opacity 500ms;
visibility: hidden;
opacity: 0;
}
.overlay:target {
visibility: visible;
opacity: 1;
}

.popup1 {
margin: 70px auto;
padding: 20px;
background: #fff;
border-radius: 5px;
width: 60%;
position: relative;
transition: all 5s ease-in-out;
}

.popup1 h2 {
margin-top: 0;
color: #333;
font-family: 'catalunya';
}
.popup .close {
  
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #9AEAE7;
}
.popup1 .close2 {
position: absolute;
top: 20px;
right: 30px;
font-weight: bold;
font-size: 120%;
font-family: 'catalunya';
  padding: 10px;
  color: #fff;
background-color: #9AEAE7;
  border: 2px solid #9AEAE7;
  border-radius: 20px/50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.popup1 .close2:hover {
color: #9AEAE7;
}



.popup1 .content {
max-height: 30%;
overflow: auto;
  font-family: sans-serif;
}
.popup1 .content .rating {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px){
.popup1{
  width: 90%;
}
}
/* -----------------------------------------------*/
/* ADD REVIEW PAGE */
/* -----------------------------------------------*/
.rating-no{
    display: inline-block;
}

.rates{
    display: inline-block;
    margin:1% 2%;
}

.rating-val{
    display: inline-block
}
