/* -----------------------------------------------*/
/* BASIC SETUP */
/* -----------------------------------------------*/
* {
    margin : 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
}

html {
    background-color: #FFF;
    color: #414141;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

/* -----------------------------------------------*/
/* REUSABLE COMPONENTS */
/* -----------------------------------------------*/
.row{
    max-width: 100%;
    margin: 0 auto;
    position: relative; 
}


@font-face {
    font-family: catalunya;
    src: url(catalunya.ttf);
            }

.small-heading {
    font-size: 100%;
    color: #000000;
    margin-left: 2%;
    margin: 1.5%;
    display: inline-block;
}

.text{
    font-family: sans-serif;
}

/* -----------------------------------------------*/
/* NAVIGATION BAR */
/* -----------------------------------------------*/

.nav-bar{
    height: 100%;
    vertical-align: top;
    background-color: rgba(72, 217, 212, 0.56);
}

.nav-bar a {
  float: right;
  padding: 1% 1%;
  
    height: auto;
  text-decoration: none;
  font-size: 110%;
    font-family: 'catalunya';
        
}
.nactive{
    color: #FFF;
}
.nav-bar a:hover {
  background-color: #FFF;
  color: #000;
}

.active {
  color: darkcyan;
}

@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
  }
}

.company-name{
    font-weight: 40;
    padding: 0.5% 2%;
    color:#FFF;
    font-size: 170%;
    font-family: 'catalunya';
    float:left;
}

/* -----------------------------------------------*/
/* LEFT COLUMN */
/* -----------------------------------------------*/


.background-image{
    background: url(res/images/header.jpg);
    background-size: cover;
    height: 140px;
    margin-top: -12px;
    
}

.column-left{
    background-color: rgba(230, 230, 230, 0.34);
    background: cover;
}

.browsing{
    margin: 3% 6%;
}

.search-font{
    font-weight: 300;
    font-size: 130%;
}


.search {
  width: 100%;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.review{
    font-size: 100%;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
    width: 40%;
    margin: 2% 0;
}

.genre-links{
    padding: 4% 0;
    font-size: 80%;
}


/* -----------------------------------------------*/
/* RIGHT COLUMN */
/* -----------------------------------------------*/
.top-colour{
    background-color: #749D8F;
}

.top-picks{
    font-size: 200%;
    color: #000000;
    font-weight: 200;
    font-family: 'catalunya';
    margin-left: 30%;
    
}


